@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;600;700&family=Nunito:wght@400;500;600;700&display=swap');
/* heebo-regular - latin */
@font-face {
     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
     font-family: 'Heebo';
     font-style: normal;
     font-weight: 400;
     src: url('../fonts/heebo-v21-latin-regular.eot'); /* IE9 Compat Modes */
     src: url('../fonts/heebo-v21-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('../fonts/heebo-v21-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
          url('../fonts/heebo-v21-latin-regular.woff') format('woff'), /* Modern Browsers */
          url('../fonts/heebo-v21-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
          url('../fonts/heebo-v21-latin-regular.svg#Heebo') format('svg'); /* Legacy iOS */
   }
   /* heebo-500 - latin */
   @font-face {
     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
     font-family: 'Heebo';
     font-style: normal;
     font-weight: 500;
     src: url('../fonts/heebo-v21-latin-500.eot'); /* IE9 Compat Modes */
     src: url('../fonts/heebo-v21-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('../fonts/heebo-v21-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
          url('../fonts/heebo-v21-latin-500.woff') format('woff'), /* Modern Browsers */
          url('../fonts/heebo-v21-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
          url('../fonts/heebo-v21-latin-500.svg#Heebo') format('svg'); /* Legacy iOS */
   }
   /* heebo-600 - latin */
   @font-face {
     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
     font-family: 'Heebo';
     font-style: normal;
     font-weight: 600;
     src: url('../fonts/heebo-v21-latin-600.eot'); /* IE9 Compat Modes */
     src: url('../fonts/heebo-v21-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('../fonts/heebo-v21-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
          url('../fonts/heebo-v21-latin-600.woff') format('woff'), /* Modern Browsers */
          url('../fonts/heebo-v21-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
          url('../fonts/heebo-v21-latin-600.svg#Heebo') format('svg'); /* Legacy iOS */
   }
   /* heebo-700 - latin */
   @font-face {
     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
     font-family: 'Heebo';
     font-style: normal;
     font-weight: 700;
     src: url('../fonts/heebo-v21-latin-700.eot'); /* IE9 Compat Modes */
     src: url('../fonts/heebo-v21-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('../fonts/heebo-v21-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
          url('../fonts/heebo-v21-latin-700.woff') format('woff'), /* Modern Browsers */
          url('../fonts/heebo-v21-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
          url('../fonts/heebo-v21-latin-700.svg#Heebo') format('svg'); /* Legacy iOS */
   }
   /* nunito-regular - latin */
@font-face {
     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
     font-family: 'Nunito';
     font-style: normal;
     font-weight: 400;
     src: url('../fonts/nunito-v25-latin-regular.eot'); /* IE9 Compat Modes */
     src: url('../fonts/nunito-v25-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('../fonts/nunito-v25-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
          url('../fonts/nunito-v25-latin-regular.woff') format('woff'), /* Modern Browsers */
          url('../fonts/nunito-v25-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
          url('../fonts/nunito-v25-latin-regular.svg#Nunito') format('svg'); /* Legacy iOS */
   }
   /* nunito-500 - latin */
   @font-face {
     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
     font-family: 'Nunito';
     font-style: normal;
     font-weight: 500;
     src: url('../fonts/nunito-v25-latin-500.eot'); /* IE9 Compat Modes */
     src: url('../fonts/nunito-v25-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('../fonts/nunito-v25-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
          url('../fonts/nunito-v25-latin-500.woff') format('woff'), /* Modern Browsers */
          url('../fonts/nunito-v25-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
          url('../fonts/nunito-v25-latin-500.svg#Nunito') format('svg'); /* Legacy iOS */
   }
   /* nunito-600 - latin */
   @font-face {
     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
     font-family: 'Nunito';
     font-style: normal;
     font-weight: 600;
     src: url('../fonts/nunito-v25-latin-600.eot'); /* IE9 Compat Modes */
     src: url('../fonts/nunito-v25-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('../fonts/nunito-v25-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
          url('../fonts/nunito-v25-latin-600.woff') format('woff'), /* Modern Browsers */
          url('../fonts/nunito-v25-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
          url('../fonts/nunito-v25-latin-600.svg#Nunito') format('svg'); /* Legacy iOS */
   }
   /* nunito-700 - latin */
   @font-face {
     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
     font-family: 'Nunito';
     font-style: normal;
     font-weight: 700;
     src: url('../fonts/nunito-v25-latin-700.eot'); /* IE9 Compat Modes */
     src: url('../fonts/nunito-v25-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('../fonts/nunito-v25-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
          url('../fonts/nunito-v25-latin-700.woff') format('woff'), /* Modern Browsers */
          url('../fonts/nunito-v25-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
          url('../fonts/nunito-v25-latin-700.svg#Nunito') format('svg'); /* Legacy iOS */
   }
   /* nunito-800 - latin */
   @font-face {
     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
     font-family: 'Nunito';
     font-style: normal;
     font-weight: 800;
     src: url('../fonts/nunito-v25-latin-800.eot'); /* IE9 Compat Modes */
     src: url('../fonts/nunito-v25-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('../fonts/nunito-v25-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
          url('../fonts/nunito-v25-latin-800.woff') format('woff'), /* Modern Browsers */
          url('../fonts/nunito-v25-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
          url('../fonts/nunito-v25-latin-800.svg#Nunito') format('svg'); /* Legacy iOS */
   }
   
   /* font-family: 'nunito',sans-serif; */
   /* font-family: 'heebo',sans-serif; */
     

:root{
     --bgblue: #06BBCC;
     --bglightblue:#2BC5D4;
     --bglight:#F0FBFC;
     --bgdark:#181d38;
     --bgwhite:#fff;
     --fontfamily:'nunito',sans-serif;
}

body{
     font-family: 'heebo',sans-serif;
     line-height: 1.5rem;
     font-size: 15px;
     letter-spacing: 0.1px;
     font-weight: 500;
}
ul{
     list-style: none;
     margin: 0;
     padding: 0;
}
a{
     text-decoration: none;
}
.spacer{
     padding: 100px 0;
}
.margin-spacer{
     margin: 150px 0;
}
h1,h2,h3,h4,h5,h6,p{
     margin: 0;
}
.row{
     margin: 0;
}
p{
     font-size: 16px;
     color: #52565b;
     margin-bottom: 16px;
     font-weight: 400;
}
.text-blue{
     color: var(--bgblue);
}
.background-blue{
     background-color: var(--bgblue);
}
.background-light{
     background-color: #F0FBFC;
}
.background-dark{
     background-color: #181D38;
}

/* -------------------scroll up btn------------------- */
.back-to-top {
     position: fixed;
     right: 45px;
     bottom: 45px;
     z-index: 99;
}
.btn:first-child:active{
     background-color: var(--bgblue);
     border-color: var(--bgblue);
}
.btn-primary:focus {
     background-color: var(--bgblue);
     border-color: var(--bgblue);
     box-shadow: 0 0 0 0.25rem rgba(5,159,173,0.5);
}
.btn-primary:hover{
     background: var(--bglightblue);
}

/* ========================================================
                    header
======================================================= */
/* -----------------nav---------------- */

header{
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     z-index: 999;
     background-color: #fff;
}
#logo{
     padding: 5px 48px;
}
#logo a{
     color: var(--bgblue);
}
.main-menu > li{
     position: relative;
}
.main-menu > li > a{
     text-transform: uppercase;
     margin-right: 30px;
     padding: 25px 0;
     color: #002e5b;
     font-weight: 600;
}
.main-menu > li:first-child > a{
     padding-left: 0 !important;
}
.main-menu li a.active,.main-menu li:hover > a{
     color: var(--bgblue);
}
.sub-menu{
     position: absolute;
     top: 180%;
     left: 0;
     width: 160px;
     padding: 10px 0;
     font-weight: 400;
     box-shadow: 0px 3px 3px rgba(0, 0, 0, .2);
     opacity: 0;
     background-color: var(--bgwhite);
     transition: .5s;
}
.sub-menu li a{
     display: block;
     color: #002e5b;
     padding: 5px 20px;
}
.sub-menu li:hover > a{
     background-color: var(--bgblue);
     color: #fff;
}
.main-menu li:hover .sub-menu{
     opacity: 1;
}
.button{
     background-color: var(--bgblue);
     padding: 24px 48px;
}
.button a{
     color: #fff;
     font-weight: 600;
     font-size: 15px;
     font-family: var(--fontfamily);
}
.button:hover{
     background-color: var(--bglightblue);
}
.tablate-menu, .menu-icon{
     display: none;
}
.navbar-light .navbar-nav .nav-link.active {
     color: var(--bgblue);
}

/* ==========================================
          slider
========================================== */
.title-blue{
     color: var(--bgblue);
}
.sli-main{
     font-family: var(--fontfamily);
     font-size: 60px;
}
.sli-btn{
     background-color: var(--bgblue);
     padding: 16px 48px;
     font-weight: 400;
     font-family: var(--fontfamily);
     font-size: 16px;
}
.sli-btn:hover{
     background-color: var(--bglightblue);
}
.sli-btn2{
     color: var(--bgdark);
     padding: 16px 48px;
     font-weight: 400;
     background-color: var(--bgwhite);
     font-family: var(--fontfamily);
     font-size: 16px;
}
.sli-para{
     font-weight: 400;
}
#main-slider.owl-carousel .owl-nav button.owl-prev,
#main-slider.owl-carousel .owl-nav button.owl-next
{
     margin: 7px 0;
     width: 45px;
     height: 45px;
     display: flex;
     align-items: center;
     justify-content: center;
     color: var(--bgwhite);
     background: transparent;
     border: 1px solid var(--bgwhite);
     font-size: 22px;
     transition: .5s;
}
#main-slider.owl-carousel .owl-nav button.owl-prev:hover,
#main-slider.owl-carousel .owl-nav button.owl-next:hover{
     background-color: var(--bgblue);
     border: 1px solid var(--bgblue);
}
#main-slider.owl-carousel .owl-nav{
     position: absolute;
     top: 50%;
     right: 8%;
     transform: translateY(-50%);
     display: flex;
     flex-direction: column;
}

/* -------------------services------------------------- */
.services-item{
     background-color: var(--bglight);
     transition: .5s;
}
.services-item i{
     color: var(--bgblue);
     font-size: 50px;
}
.services-item .h5{
     font-family: var(--fontfamily);
}
.services-item:hover i,
.services-item:hover .h5,
.services-item:hover .ser-para{
     color: var(--bgwhite);
}
.services-item:hover{
     margin-top: -10px;
     background: var(--bgblue);
     color: var(--bgwhite);
}

/* ----------------------------about---------------------- */
.about-title{
     color: var(--bgblue);
     font-family: var(--fontfamily);
     position: relative;
     width: 20%;
}
.image-fluid{
     height: 437px !important;
}
.about-sec-title{
     font-family: var(--fontfamily);
}
.about-icon{
     color: var(--bgblue);
}
.about-title::before{
     position: absolute;
     content: "";
     width: calc(30% + 5px);
     height: 2px;
     top: 2px;
     left: 100px;
     background: var(--bgblue);
     z-index: -1;
}
.about-title::after{
     position: absolute;
     content: "";
     width: calc(40% + 40px);
     height: 2px;
     bottom: 13px;
     left: 100px;
     background: var(--bgblue);
     z-index: -1;
}
.about-btn {
     background-color: var(--bgblue);
     border: var(--bgblue) 1px solid;
     font-family: var(--fontfamily);
     width: 30%;
}
.about-btn:hover{
     background-color: var(--bglightblue);
}

/* ------------------------categories------------------- */
.cate-title{
     font-family: var(--fontfamily);
     position: relative;
     display: inline-block;
}
.line1::before{
     content: '';
     position: absolute;
     width: 40px;
     height: 3px;
     top: 10px;
     left: -35px;
     background-color: var(--bgblue);
     z-index: -1;
}
.line1::after{
     content: '';
     position: absolute;
     width: 40px;
     height: 3px;
     top: 10px;
     right: -35px;
     background-color: var(--bgblue);
     z-index: -1;
}
.cate-text-img,
.cate-name{
     font-family: var(--fontfamily);
}
.categories img{
     transition: .5s;
}
.categories a:hover img{
     transform: scale(1.1);
}

/* -----------------------courses-------------------- */
.btn-primary{
     background-color: var(--bgblue);
     border-color: var(--bgblue);
}
.btn-primary:hover{
     background-color: var(--bglightblue);
     border-color: var(--bglightblue);
}
.course-item img{
     transition: .3s;
}
.course-item:hover img{
     transform: scale(1.1);
}
.course-detail{
     font-family: var(--fontfamily);
}

/* ----------------team------------------------ */
.btn-sm-square{
     border-radius: 0px;
     width: 30px;
     height: 30px;
}
.btn-sm-square:hover{
     background-color: var(--bglightblue);
}
.team-item p{
     font-family: var(--fontfamily);
}
.team-item img{
     transition: .3s;
}
.team-item:hover img{
     transform: scale(1.1);
}

/* -------------------------testimonial--------------------- */

.shadow-effect {
     background: #fff;
     border-radius: 4px;
     text-align: center;
}
.shadow-effect img{
     height: 80px;
     width: 80px;
}
#customers-testimonials.owl-carousel .owl-item img{
     width: 25%;
     height: 25%;
}
#customers-testimonials.owl-carousel .owl-dots .owl-dot.active span,
#customers-testimonials.owl-carousel .owl-dots .owl-dot:hover span {
     background: var(--bgblue);
     transform: translate3d(0px, -50%, 0px) scale(0.7);
}
#customers-testimonials.owl-carousel .owl-dots{
     display: inline-block;
     width: 100%;
     text-align: center;
}
#customers-testimonials.owl-carousel .owl-dots .owl-dot span {
     background: var(--bgblue);
     display: inline-block;
     height: 20px;
     margin: 0 2px 5px;
     transform: translate3d(0px, -50%, 0px) scale(0.3);
     transform-origin: 50% 50% 0;
     transition: all 250ms ease-out 0s;
     width: 20px;
}

/* ===============================================
          footer
=============================================== */
.footer .h4{
     font-family: var(--fontfamily);
}
.footer .btn.btn-link {
     display: block;
     text-align: left;
     color: var(--bgwhite);
     transition: .3s;
     text-decoration: none;
}
.footer .btn.btn-link:hover {
     letter-spacing: 1px;
     box-shadow: none;
}
.footer .btn.btn-social {
     margin-right: 5px;
     width: 35px;
     height: 35px;
     display: flex;
     align-items: center;
     justify-content: center;
     color: var(--bgwhite);
     border: 1px solid #FFFFFF;
     border-radius: 35px;
     transition: .3s;
}
.footer .btn.btn-social:hover {
     color: var(--bgblue);
     background-color: var(--bgwhite);
}

/* -----------------------copyright---------------------- */
.copyright .row{
     font-weight: 400;
}
.footer .copyright {
     padding: 25px 0;
     border-top: 1px solid rgba(256, 256, 256, .1);
 }
.footer .footer-menu a {
     margin-right: 15px;
     padding-right: 15px;
     border-right: 1px solid rgba(255, 255, 255, .1);
     color: var(--bgwhite);
}

/* --------------------------------about page-------------------------- */
.page-header {
     background: linear-gradient(rgba(24, 29, 56, .7), rgba(24, 29, 56, .7)), url(../image/asset\ 0.jpeg);
     background-position: center center;
     background-repeat: no-repeat;
     background-size: cover;
}
.page-header .h1{
     font-family: var(--fontfamily);
}
.breadcrumb-item + .breadcrumb-item::before {
     color: var(--bgwhite);
}

/* -----------------------------404 page----------------- */
.not-found .h1{
     font-family: var(--fontfamily);
}
.rounded-pill:hover{
     background-color: var(--bglightblue);
}

/* ------------------------contact page--------------------- */
.icon-box{
     height: 50px;
     width: 50px;
     font-size: 16px;
}
.con-main .text-blue{
     font-size: 20px;
     font-family: var(--fontfamily);
}
.form-floating #message{
     height: 150px;
}